.all-notes {
    border: 1px solid black;
    width: 15%;
    /* color  for note */
    background: rgb(216, 211, 163);
}


textarea.edit-note-desc {
    resize: none;

    /* size is not permanent */
    width: 167px;
    height: 167px;
    /* color for edited note */
    background: rgb(173, 148, 110);
}

textarea.edit-note-title {
    resize: none;

    /* size is not permanent */
    width: 167px;
    height: 25px;
    font-size: 20px;
    /* color for edited note */
    background: rgb(173, 148, 110);
}
