.all-notes {
    
    width: 15%;
    /* color  for note */
    
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: center;
    



}
html {
    
    background-attachment: fixed;
}


nav
{
    background-color: lightgray;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    
    
    
}
#search-input {
    height: 50%;
    align-self: center;
    

}
body {
    display: flex;
    flex-direction: column;
}
#title {
    width: 100%;
    text-align: center;
}
.main-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    
}
.single-note {
    width: 22%;
    display: flex;
    flex-direction: column;
    background: rgb(216, 211, 163);
    border: 1px solid black;
    align-items: center;
    margin: 5%;
}
.note-date
{
    text-align: center;
}
.note-buttons
{
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    
    
}
textarea.edit-note-desc {
    resize: none;
    
    /* size is not permanent */
    width: 120%;
    height: 167px;
    /* color for edited note */
    background: rgb(173, 148, 110);
    align-self: center;
}
.note-body
{
    display: flex;
    flex-direction: column;
    align-self: center;
}
textarea.edit-note-title {
    resize: none;

    /* size is not permanent */
    width: 90%;
    height: 25px;
    font-size: 20px;
    /* color for edited note */
    background: rgb(173, 148, 110);
}

#add-note-div {
    width: 100%;
    display: flex;
    justify-content: center;

}

#add-note {
    width: 15%;
    height: 10em;
}
