.all-notes {
    
    width: 15%;
    /* color  for note */
    
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: center;
    



}
html {
    
    background-attachment: fixed;
    background-image: url("./background.png");
}


nav
{
    background-color: lightgray;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.top-bar {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
}
.search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;

}
#search-button {
    height: 100%;
    display: flex;
    align-self: center;
}
#search-input {
    height: 50%;
    align-self: center;
    

}
body {
    display: flex;
    flex-direction: column;
}
#title {
    width: 30%;
    
}
.title-section {
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10%;
    
}
.single-note {
    width: 22%;
    display: flex;
    flex-direction: column;
    background: rgb(216, 211, 163);
    border: 1px solid black;
    align-items: center;
    margin: 5%;
    transition-duration: .67s;
}
.single-note:hover
{
    transform: scale(110%);
    transition-duration: .67s;
}
.note-date
{
    text-align: center;
}
.note-buttons
{
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    
    
}
textarea.edit-note-desc {
    resize: none;
    
    /* size is not permanent */
    width: 120%;
    height: 167px;
    /* color for edited note */
    background: rgb(173, 148, 110);
    align-self: center;
}
.note-body
{
    display: flex;
    flex-direction: column;
    align-self: center;
}
textarea.edit-note-title {
    resize: none;

    /* size is not permanent */
    width: 90%;
    height: 25px;
    font-size: 20px;
    /* color for edited note */
    background: rgb(173, 148, 110);
}

#add-note-div {
    width: 100%;
    display: flex;
    justify-content: center;

}

#add-note {
    width: 15%;
    height: 10em;
    background-image: url("addbutton.png");
    background-attachment: scroll;
    background-size: cover;
}
